/*Reseteo de estilos predeterminados*/
*{
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
/*fin de reseteo de estilos predeterminados*/

:root {
    --body-background:#f8f5f0;
    --titles-color: #c5a75e;
    --imagen-description: 15px;
    --footer-writing: #fff;
}

/*Tipografias - importacion Font*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&family=Poppins:wght@300;400;500;600&display=swap');
/* font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

/* font-family: 'Bree Serif', serif; */


body {
    background-color: #f8f5F0;
    font-family: 'Poppins', sans-serif;
}
img {max-width: 100%;}

/*inicio de estilos del header*/
/*solo para desktop*/
@media screen and (min-width:981px) {
    .header-container {
        position: fixed;
    }
}
.title {
    font-family: 'Bree Serif', serif;
    font-weight: 600 lighter;
    font-size: 20px;
    display: block;
    padding: 0.5rem 1rem;
    color: var(--titles-color);
}
/*fin de estilos del header*/

/*inicio estilo del main*/
.main-container {
    margin-top: 135px;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr ;
    grid-template-rows: 700px 70px 800px;
    grid-column-gap: 5px;
    grid-row-gap: 20px;
    grid-template-areas: 'img img img img img'
    '. parrafo parrafo parrafo .'
    '. producto producto producto .';
    }
/*inicio estilo seccion 1 carrousel*/
.carrousel-t {grid-area: img;
}
/*fin de estilo seccion 1 carrousel*/

/*inicio estilo seccion 2 descripcion*/
.parrafo-container {grid-area: parrafo;
    align-items: center;
}

.parrafo-producto {
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: bold;
    padding: 20px;
    border: 2px solid rgb(14, 13, 13);
    width: 90%;
    justify-content: center;
}
/*fin estilo seccion 2 descripcion*/

/*inicio estilo seccion 3 producto*/
.product-cont { grid-area: producto;    
}
.producto-1 { 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;

}
.cont {
    position: relative;
    margin: 10px 0 10px 0; 
}
.i-products {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.text-pos {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .cont:hover .img {
    opacity: 0.3;
  }
  
  .cont:hover .text-pos {
    opacity: 1;
  }
  
  .texts-back {
    background-color: #982c3b;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }
  


.producto-2 { 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;

}

.pro-titles {
    font-size: var(--imagen-description);
    color: var(--titles-color);
    font-family: 'Bree Serif', serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin: 5px;
}

@media screen and (min-width:981px) {

    .pro-cir {
        border-radius: 100%;
    }
}
/*fin de estilo seccion 3 productos*/

/*inicio estilos de contacto*/
.contact-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contacto {
    width: 70%;
    margin: 150px 0;
    padding: 20px;
    display: grid;
    grid-template-columns: 12% 30% 16% 30% 12%;
    grid-template-rows: 50px 100px 350px 220px;
    grid-template-areas:
    ". . titulo . ."
    ". parrafo1 . parrafo2 ."
    ". mapa mapa mapa ."
    ". formulario formulario formulario . "
    ;
    color: black;
    background-color:#fbedd5;
}
    
.contact-title {
    text-align: center;
    grid-area: titulo;
}
.adress-container {
    grid-area: parrafo1;
    justify-self: end;
}
.hours-container {
    grid-area: parrafo2;
    justify-self: start;
}
.mapa{
    grid-area: mapa;
    justify-self: center;
}
.formulario{
    grid-area: formulario;
}
/*fin de estilos de contacto*/

form {
    margin: 0 auto;
    width: 500px;
    padding: 1em;
    border: 1px solid #ccc
}

form ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
form li + li {
    margin-top: 1em;
}
label {
    display: inline-block;
    width: 90px;
    text-align: right;
}
input, textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
}
input:focus, textarea:focus {
    border-color: #000;
}
textarea {
    vertical-align: top;
    height: 5em;
}
.button {
    padding-left: 90px;
}
button {
    margin-left: .5em;
}



/*inicio estilos del footer*/

.footer-container {
    padding-top: 50px;
    background-color: #982c3b;
    color: var(--footer-writing);
    border-top: 2px solid #252932 ;
    padding: 20px 15px; 
}

/*estilo del footer para mobiles and tablets*/
@media screen and (max-width:980px) {
    .footer-container {
        background-color: #000;
    }

}

.footer-inline {
    display: flex;
    flex-wrap: wrap; 
    width: 100%; 
    padding-top: 5px;
}

.footer-center {
    width: 25%;
    padding: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

.end {
    text-align: center;
    margin-top: 30px;
    font-family: 'Lato', sans-serif;
    font-size: 10px;
}

.contact {
    color: var(--footer-writing);
}
/*fin de estilos del footer*/





